.body {
font-family: 'Roboto', sans-serif;
color: #434455    
}

.header-logo {
 color: #4D5AE5;
 font-family:"Raleway", sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 text-decoration: none;
}

.header-studio {
font-family:'Raleway' sans-serif;
font-weight: 800;
color: #2E2F42;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
list-style: none;
 
}

.list-menu-link link {
font-family:'inferit';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
color: #2E2F42;
text-decoration: none;
}

.menu-item {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
}

.hero-section {
background: #2E2F42;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}

.h1-title {
font-family: 'inferit';
color: #FFFFFF;
background: #2E2F42;
}

.button {
flex-direction: row;
align-items: flex-start;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background: #4D5AE5;
font-family: "Roboto", sans-serif ;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}

.btn-active {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.title {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
}

.text {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

ul, 
ol {
    list-style: none;    
}

.section-our-work {
font-family: 'inferit';
font-style: normal;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
line-height: 1.11;
text-align: center;
}

.section-conteiner {
font-family: 'inferit';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #2E2F42;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.section-conteiner,
.personal-work {
background: #F4F4FD;
}

.title-second {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
}

.text-third {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

.last-word {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.section-finish {
background: #2E2F42;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
color: #f4f4fd;  
}
.body {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;

}

.btn-active-site{
background: #404BBF;
color: #FFFFFF;
}

.btn-active-another {
color: #4D5AE5;
background: #F4F4FD;
}

.menu-picture-foto link {
color: #2E2F42;
font-family: 'Roboto';
font-style: normal;
font-size: 1,2;
letter-spacing: 0.02em;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2e2f42;
}

.text-foto {
color: #434455;
font-family: 'Roboto';
font-style: normal;
font-size: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
color: #434455;
}
