.body {
font-family: 'Roboto', sans-serif;
color: #434455; 
  
}

.header-logo link {
 color: #4d5ae5;
 font-family:"Raleway" sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-decoration:none;
 text-transform: uppercase;
}
.header-studio link {
text-decoration:none;
font-family: 'Raleway' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;   
}

.list-menu-link link:hover {
    color: #404bbf;
    text-decoration:none;
}

.list-menu-link link:focus {
    color: #404bbf;
    text-decoration:none;  
}

.header-logo link {
text-decoration:none;
}

.page-header:hover {
    color: #404bbf;
}
.navigation-logo:focus {
    color: #404bbf;
}


.list-menu-link link {
font-family:"Raleway" sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #2E2F42;
text-decoration:none;
letter-spacing: 0.02em;
line-height: 1.5;
list-style:none;
}

.link-menu link {
font-family:'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
text-decoration:none;
list-style:none;
line-height: 1.5;

}


.hero-section {
background: #2E2F42;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}

.main-title {
font-family: 'inferit';
color: #FFFFFF;
background: #2E2F42;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}

.btn-active {
flex-direction: row;
align-items: flex-start;
background: #4D5AE5;
border-radius: 4px;
background: #4D5AE5;
font-family: "Roboto", sans-serif ;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}

.button {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
color: #FFFFFF;


}

.title {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
}

.text {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

ul, 
ol {
    list-style:none;    
}

.section-our-work-list {
font-family: 'inferit';
font-style: normal;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
line-height: 1.11;
text-align: center;
}

.section-conteiner-hidden {
font-family: 'inferit';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #2E2F42;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.section-second {
background: #F4F4FD;
}

.title-second {
font-family: 'inferit';
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
}

.text-third {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

.last-word {
font-family: 'inferit';
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.section-finish {
background: #2E2F42;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration:none;
color: #f4f4fd;  
}

.footer-logo link{
color: #4d5ae5;
text-decoration:none;
}

.logo-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
text-decoration:none;
}
.body {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.list-menu-link link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
color: #2E2F42;
text-decoration:none;

}
.header-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
letter-spacing: 0.03em;
color: #2E2F42;

}


.btn-active-site {
color: #FFFFFF;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer; 
background-color: #4d5ae5;
font-style: normal;
list-style:none

}
.button-section-list {
list-style:none;
}

.btn-active-another {
color: #4D5AE5;
background: #F4F4FD;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
font-style:normal;
list-style:none
}

.menu-work-foto link {
color: #2e2f42;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
cursor: pointer;
}

.text-foto {
color: #434455;
font-family: 'Roboto';
font-style: normal;
letter-spacing: 0.02em;
font-size: 16px;
color: #434455;
}
